<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Kipp's Soulslikes Catalog</title>
    <meta name="description" content="A Catalog of Soulslike Video Games">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./js.js"></script>
</head>

<body>
    <header class="main-header">
        <h1 class="title">Test Site</h1>
    </header>

    <div id="card-container">
       <form>Name: </form>
        <button onclick="submitName">Submit</button>
    </div>
</body>
</html>